@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body{
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden;
}

:root{
    --primary: #045DA0;
    --danger: #A00716;
    --dark: #000000E5;
}

/* reuseable css clases */
.text-primary{
    color: #045DA0 !important;
}

.text-danger{
    color: #A00716 !important;
}

.text-dark{
    color: #000000E5 !important;
}

.bg-primary{
    background-color: var(--primary);
}

.bg-danger{
    background-color: var(--danger);
}