<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brookee-Shcol</title>

    <!-- bootstrap cdn -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body class="">

    <header class="position-relative">

        <nav class="navbar navbar-expand-lg navbar-light" aria-label="Eighth navbar example">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="../static/assets/img/brooke-logo.png" alt="" width="241" height="55">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#about-section">Meet us</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-dark nav-link " href="#our-service">Our services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#contact-us-section">Contact us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="./signup.html">Join us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="./signin.html">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <section class="hero-section container row mx-auto w-100">

            <div class="hero-text col-12 col-md h-100 d-flex align-items-center">

                <div class="hero-text-container">
                    <h1 id="hero-heading" class="text-primary">
                        Entrust your digital challenges
                        with the right professional
                        IT solutions.
                    </h1>
                    <p id="hero-ptext" class="text-dark">Get high standard IT solutions , supplies and trainings.</p>

                    <div class="hero-btns ">
                        <button class="btn btn-danger me-md-4">Talk to us</button>
                        <button class="btn btn-outline-danger text-danger">Join us</button>
                    </div>
                </div>

            </div>

            <div class="col-12 col-md d-none d-md-block ">
                <div class="hero-img-container position-relative ">
                    <div class="img-hero hero-img position-absolute">
                        <img id="hero-img" class=" " src="../static/assets/img/hero-img.png" alt="" height="568px">
                    </div>
                </div>
            </div>

        </section>
        <div class="circle-nav-container position-absolute mx-auto d-flex justify-content-center w-100">
            <span id="circle-nav1" class="circle-nav  rounded-circle d-block circle-nav-active"></span>
            <span id="circle-nav2" class="circle-nav  rounded-circle d-block"></span>
            <span id="circle-nav3" class="circle-nav  rounded-circle d-block"></span>
        </div>
    </header>

    <section id="about-section" class="about-section">
        <div class="meet-us text-center mx-auto" style="width: fit-content;">
            <span class="meetus text-center border-bottom border-primary ">Meet Us</span>
            <span class="line bg-danger"></span>
        </div>

        <div class="about-text text-justify container mb-4">
            BROOKE-ESHCOL SYSTEMS LIMITED is a registered Technology company with the registration certificate number
            RC 1557027. We focus mainly on various IT solutions, programming, IT training, and consulting. It is
            operationally headquartered in Port Harcourt, Rivers state, Nigeria. We undertake the training of
            world-class programmers and the development of industry-based software. Our service delivery is based on
            professional
            ethics. Our staff members are tested IT professionals. BROOKE-ESHCOL operates 100% to build and enhance the
            programming and IT skills of it's clients in order to meet the ever-increasing demand for highly qualified
            Tech
            skill both locally and internationally. BROOKE-ESHCOL has made its impact by a track record of excellent
            trainees with outstanding IT qualities
        </div>

        <div class="container d-flex flex-column flex-md-row justify-content-around">
            <div class="">
                <div
                    class="mision-container bg-primary rounded-circle d-flex justify-content-center align-items-center mx-auto">
                    <img src="../static/assets/img/mission.png" alt="">
                </div>
                <h4 class="text-danger text-center">Mission</h4>
                <p id="mision-statement" class="text-center px-3">The vision of BROOKE-ESHCOL SYSTEMS is
                    to train and provide solutions that can
                    satisfy the demand both local and international problems.</p>
            </div>
            <div class="">
                <div
                    class="mision-container bg-primary rounded-circle d-flex justify-content-center align-items-center mx-auto">
                    <img src="../static/assets/img/vision.png" alt="">
                </div>
                <h4 class="text-danger text-center">Vision</h4>
                <p id="vision-statement" class="text-center px-3">
                    The mission of BROOKE-ESHCOL SYSTEMS is to
                    develop strong partnership across the information technology industry. To offer high
                    quality IT and programming impartation on
                </p>
            </div>
        </div>
    </section>

    <section id="our-service" class="my-5">
        <div class="meet-us text-center mx-auto" style="width: fit-content;">
            <span class="meetus text-center border-bottom border-primary ">Our Service</span>
            <span class="line bg-danger"></span>
        </div>

        <div class="container service-container d-flex flex-column flex-md-row justify-content-around"
            style="margin-top: 62px;">
            <div class="">
                <div class="service-icon mx-auto d-flex justify-content-center align-items-center">
                    <img src="../static/assets/img/training-icon.png" alt="">
                </div>
                <h4 class="text-primary text-center services">Training</h4>
                <p id="mision-statement" class="text-center px-3">
                    We provide intense and highly professional
                    courses including hardware, software and design trainings.
                </p>
                <div class="learn-more-icon d-flex justify-content-center">
                    <a href="./services.html" class="btn-danger bg-danger btn m-auto">Learn more</a>
                </div>
            </div>
            <div class="">
                <div class="service-icon mx-auto d-flex justify-content-center align-items-center">
                    <img src="../static/assets/img/it-supplies-icon.png" alt="">
                </div>
                <h4 class="text-primary text-center services">IT supplies</h4>
                <p id="vision-statement" class="text-center px-3">
                    Hardware supplies for company and personal
                    usage gadgets at very affordable prices
                    both in bulk and single sale purchases.
                </p>
                <div class="learn-more-icon d-flex justify-content-center">
                    <a href="./services.html" class="btn-danger bg-danger btn m-auto">Learn more</a>
                </div>
            </div>
            <div class="">
                <div class="service-icon mx-auto d-flex justify-content-center align-items-center">
                    <img src="../static/assets/img/it-solution-icon.png" alt="">
                </div>
                <h4 class="text-primary text-center services">IT solutions</h4>
                <p id="vision-statement" class="text-center px-3">
                    We build usable, Friendly and universally acceptable product for both individual purposes and
                    compoanies
                </p>
                <div class="learn-more-icon d-flex justify-content-center">
                    <a href="./services.html" class="btn-danger bg-danger btn m-auto">Learn more</a>
                </div>
            </div>
        </div>
    </section>

    <section id="membership-package-container" class="text-light ps-0 ps-md-5 pb-5">
        <div class="row">
            <div class="col-12 col-md-6 ">
                <h3 id="membership-heading" class="text-start text-white px-0 px-md-0">Enjoy Our Membership Package</h3>
                <p id="membership-description" class="text-center text-md-start px-5 px-md-0">Get an office space
                    comfort, learn, connect and grow.</p>
                <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                    <div class="bg-light rounded rounded-1 p-3 text-center package-container">
                        <h4 class="text-danger package">Starter Pack</h4>
                        <p class="text-danger package-description">Fast Internet Steady Light</p>
                        <div class="price-container position-relative p-1 rounded bg-danger">
                            <span class="price d-block">N10,000</span>
                            <span class="price-duration">monthly</span>
                        </div>
                    </div>
                    <div class="bg-danger text-white rounded rounded-1 p-3 text-center package-container">
                        <h4 class="package">Middle Breed</h4>
                        <p class="package-description">Fast Internet
                            Steady Light Computer appreciation training</p>
                        <div class="price-container position-relative p-1 rounded bg-white text-danger">
                            <span class="price d-block">N20,000</span>
                            <span class="price-duration">monthly</span>
                        </div>
                    </div>
                    <div class="bg-danger text-white rounded rounded-1 p-3 text-center package-container">
                        <h4 class="package">Executive</h4>
                        <p class="package-description">Fast Internet
                            Steady Light Computer appreciation training Python programing language</p>
                        <div class="price-container position-relative p-1 rounded bg-white text-danger">
                            <span class="price d-block">N30,000</span>
                            <span class="price-duration">monthly</span>
                        </div>
                    </div>
                </div>
                <div class="d-flex d-md-block justify-content-center">
                    <button id="become-a-member-btn" class="btn btn-light text-danger">Become a member</button>
                </div>
            </div>
            <div class="col-12 col-md d-none d-md-block">
                <img src="../static/assets/img/group-membership.png" alt="" width="525px" height="479">
            </div>
        </div>
    </section>


    <section class="container">
        <div class="row">
            <div class="col-12 col-md d-flex align-items-center justify-content-start pe-0 pe-md-5">
                <div>
                    <h4 id="kids-club-heading" class="text-primary text-center text-md-start">Kids & Teens Club</h4>
                    <p id="kids-club-text">
                        Get the best IT instructors for your child. A fun real world coding and design and robotics
                        classes for your child. Engage Your Child in Coding. Fun and Smart Game Based Online Learning
                        for Kids Ages 6-14. Real Programming Language. Added Value to Your Kid's Screen Time
                    </p>
                    <div class="d-flex d-md-none justify-content-center" style="margin-top: 10px;">
                        <img class="mx-auto" src="../static/assets/img/children_using_a_tablet_computer.png" alt="">
                    </div>
                    <button id="kids-club-btn" class="btn btn-danger bg-danger ms-4 ms-md-0">Enroll your child</button>
                </div>
            </div>
            <div class="col-12 col-md d-none d-md-block">
                <img id="kids-img" src="../static/assets/img/teen-club.png" alt="" width="614px" height="556px">

            </div>
        </div>
    </section>

    <section id="connect-and-grow" class="text-white text-center d-flex align-items-center">
        <div class="container ">
            <h4 id="connect-heading" class="mb-0">Learn. Connect. Grow.</h4>
            <p id="connect-paragraph">Our training sections are facilated by highly professional staffs, with a great
                Technical appliances and a
                conducive environment to aid connections and relatable growths We stay on top of our industry by being
                experts in our services, providing lasting and reliable Tech solutions. We
                measure our success by the results we derive from our clients. Our services includes Providing diver IT
                solutions
                , from design , to development , to IT supplies and Trainings both offline and online Classes.
            </p>
        </div>
    </section>

    <section id="contact-us-section" class="mb-5 mx-1">
        <div style="margin-top: 47px;">
            <img src="../static/assets/img/border-img-1.png" alt="">
        </div>
        <div class="meet-us text-center mx-auto" style="width: fit-content; margin-top: 42px;">
            <span class="meetus text-center border-bottom border-primary">Contact Us</span>
            <span class="line bg-danger"></span>
        </div>
        <p id="contact-us-text" class="text-center">We would love to hear from you.</p>
        <div id="contact-btn-container" class="d-flex justify-content-center">
            <button class="talk-to-us-btn  btn bg-danger text-white me-5">Talk to us</button>
            <button id="follow-btn" class="talk-to-us-btn btn btn-outline-danger text-danger">Follow us</button>
        </div>
        <div style="margin-bottom: 129px;">
            <img src="../static/assets/img/border-img-2.png" alt="">
        </div>
    </section>


    <footer>

        <section>

            <div class="bg-primary">

                <div class="container text-white">

                    <div class="row mx-auto mx-md-initail ">
    
                        <div class="col-md-3 text-center text-md-start mb-3">
                            <form>
                                <h5 class="footer-header">Our Newsletter</h5>
                                <p>Subscribe to our newsletter</p>
                                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                    <label for="newsletter" class="visually-hidden">Email address</label>
                                    <input id="newsletter" type="email" class="form-control rounded-0 text-light" placeholder="">
                                    <button class="btn btn-danger bg-danger rounded-0  border-0" type="button">Subscribe</button>
                                </div>
                            </form>
                        </div>
    
                        <div class="col-12 col-md-2 text-center text-md-start mb-3">
                            <h5 class="footer-header">Company</h5>
                            <ul class="nav flex-column footer-header-content">
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white ">About Us</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white ">Privacy Policy</a>
                                </li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white ">Terms and
                                        conditions</a>
                                </li>
                            </ul>
                        </div>
    
                        <div class="col-12 col-md-2 text-center text-md-start mb-3">
                            <h5 class="footer-header">Service</h5>
                            <ul class="nav flex-column footer-header-content">
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white ">Onine Courses</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white ">Trainings</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white ">Projects</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white ">Membership Package</a>
                                </li>
                            </ul>
                        </div>
    
                        <div class="col-12 col-md-2 text-center text-md-start mb-3">
                            <h5 class="footer-header">Contact</h5>
                            <ul class="nav flex-column footer-header-content">
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white ">Our Services</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white ">Contact Us</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white ">FAQs</a></li>
                                <li class="nav-item mb-2">
                                    <a href="#" class="nav-link p-0 text-white ">
                                        Address: Uniport Mall
                                        Abuja Park, University of
                                        Port Harcourt, Nigeria
                                    </a>
                                </li>
                            </ul>
                        </div>
    
                        <div id="follow-section" class="col-md-2 mb-3 text-center text-md-start">
                            <h5 class="footer-header">Follow us</h5>
                            <ul class="nav justify-content-between list-unstyled d-flex">
                                <li class=""><a class="" href="#"><img
                                            src="../static/assets/img/follow-icon/facebook-logo.png" alt=""></a></li>
                                <li class=""><a class="" href="#"><img
                                            src="../static/assets/img/follow-icon/instagram-logo.jpg" alt=""></a></li>
                                <li class=""><a class="" href="#"><img
                                            src="../static/assets/img/follow-icon/linkedin-icon.png" alt=""></a></li>
                                <li class=""><a class="" href="#"><img
                                            src="../static/assets/img/follow-icon/twitter-logo.jpg" alt=""></a></li>
                            </ul>
    
                        </div>
    
                    </div>
    
                </div>
            </div>

            <hr class="p-0 m-0 bg-white text-white">

            <div id="copyright-claim-section" class="bg-primary text-white">
                <p class="text-center mb-0">Copyright 2022 <img src="../static/assets/img/follow-icon/noun-copyright-img.png" alt=""> Brooke-eshcol System Limited</p>
            </div>
        </section>

    </footer>

    <script src="../static/js/library/jquery-3.6.0.js"></script>
    <script src="../static/js/image-slider.js"></script>
</body>

</html>