<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services|Brookee-Shcol</title>

    <!-- bootstrap cdn -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body class="">

    <header class="position-relative">

        <nav class="navbar navbar-expand-lg navbar-light" aria-label="Eighth navbar example">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="../static/assets/img/brooke-logo.png" alt="" width="241" height="55">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Meet us</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-dark nav-link " href="./services.html">Our services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Contact us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="./signup.html">Join us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="./signin.html">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <section class="hero-section container row mx-auto w-100">

            <div class="hero-text col-12 col-md h-100 d-flex align-items-center">

                <div class="hero-text-container">
                    <h1 id="hero-heading" class="text-primary">
                        Services we offer you
                    </h1>
                    <p id="hero-ptext" class="text-dark">Our services cuts across creating IT solutions,  suppliing IT gadgets to
                        large and small companies and most importantly, IT trainings.</p>
                    <div class="hero-btns ">
                        <button class="btn btn-danger me-md-4">Talk to us</button>
                    </div>
                </div>

            </div>

            <div class="col-12 col-md d-none d-md-block ">
                <div class="hero-img-container position-relative ">
                    <div class="img-hero hero-img position-absolute">
                        <img id="hero-img" class=" " src="../static/assets/img/services-hero-img.png" alt="" height="568px">
                    </div>
                </div>
            </div>

        </section>
        

    <script src="../static/js/library/jquery-3.6.0.js"></script>
    <script src="../static/js/image-slider.js"></script>
</body>

</html>